

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Social Welfare Network Initiative</h1>
    <p class="lead">That N 500.00 can save a life!</p>
    <p><a href="/Donate/Donate" class="btn btn-primary btn-lg">Donate now!</a></p>
</div>